<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% cache 'word-of-the-hour', expires_in: 2.seconds do %>
    <%= %w(happy developer watch drifting ruby screencasts about rails).sample %>
  <% end %>
